.team-portrait {
    height: 100%;
    width: 100%;
}

.team-members-tow figure:hover .image-overlay {
    opacity:1
}

.team-members-tow .image-overlay {
    height:100%;
    position:absolute;
    top:0;
    background:rgba(0,0,0,0.85);
    opacity:0;
    width:100%;
    transition:all 0.3s ease-in-out 0s;
    -moz-transition:all 0.3s ease-in-out 0s;
    -webkit-transition:all 0.3s ease-in-out 0s;
    -o-transition:all 0.3s ease-in-out 0s
}

.team-link {
    color: #5d8eb8;
    text-align: center;
}

.team-item figure {
    position:relative;
    overflow:hidden;
    width:100%;
    margin:0
}

.team-item figure img {
    width:100%;
    height:auto
}

.team-item figure figcaption {
    height:100%;
    position:absolute;
    top:0;
    background:rgba(0,0,0,0.85);
    opacity:0;
    width:100%;
    transition:all 0.3s ease-in-out 0s;
    -moz-transition:all 0.3s ease-in-out 0s;
    -webkit-transition:all 0.3s ease-in-out 0s;
    -o-transition:all 0.3s ease-in-out 0s
}

.team-item figure figcaption .details {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    position: absolute;
    align-content: center;
    top:30%;
    text-align: center;
}

.team-item figure figcaption .content-white {
    font-size:13px;
    text-align:center;
    color:#FFF;
    margin:auto auto;
    line-height:18px;
    min-width: 150px;
    width:65%;
    -webkit-transform:translateY(-50px);
    transform:translateY(-50px);
    -webkit-transition:all 0.5s ease;
    -moz-transition:all 0.5s ease;
    transition:all 0.5s ease
}

.team-item figure figcaption .small-divider {
    margin:12px auto 6px;
    width:0px;
    background:#fff;
    height:1px;
    -webkit-transition:all 0.5s ease;
    -moz-transition:all 0.5s ease;
    transition:all 0.5s ease
}

.team-item figure:hover figcaption {
    opacity:1
}

.team-item figure:hover .small-divider {
    width:62px;
    background:#fff
}

.team-item figure:hover figcaption .content-white {
    -webkit-transform:translateY(0px);
    transform:translateY(0px)
}

.team-item figure:hover .social a {
    -webkit-transform:translateY(0px);
    transform:translateY(0px)
}

.team-item .social {
    text-align:center;
    margin-top:15px
}

.team-item .social .facebook,.team-item .social .twitter,.team-item .social .google-plus {
    font-size:24px;
    line-height:normal;
    outline:none;
    border-radius:50%;
    color:#fff;
    width:42px;
    height:42px;
    line-height:42px;
    text-align:center;
    display:inline-block;
    -webkit-transform:translateY(50px);
    transform:translateY(50px);
    margin-right:5px
}

.team-item .social .facebook {
    -webkit-transition:all 400ms ease;
    transition:all 400ms ease
}

.team-item .social .twitter {
    -webkit-transition:all 500ms ease;
    transition:all 500ms ease
}

.team-item .social .google-plus {
    -webkit-transition:all 600ms ease;
    transition:all 600ms ease
}

.team-item .social a:hover {
    background:transparent
}

.info {
    background:#F6F6F6;
    padding:15px 0 10px;
    text-align:center
}
.info h2 {
    color:#000;
    font-size:18px
}
.info p {
    color:#000;
    font-size:12px;
    font-weight:300;
    line-height:22px;
    text-transform:uppercase
}

.members {
    text-align:center
}

.members .memeber-img {
    margin-bottom:30px
}

.members .member-content .member-name {
    font-size:25px;
    line-height:33px;
    margin:0
}

.members .member-content .member-position {
    font-size:14px;
    margin-top:10px
}

.team-members-tow figure {
    position:relative;
    cursor:pointer
}

.team-members-tow figure:hover .info-text {
    -webkit-transform:translateY(0px);
    transform:translateY(0px)
}

.team-members-tow figure:hover .social-icons {
    -webkit-transform:translateY(0px);
    transform:translateY(0px)
}


.team-members-tow .overlay-text {
    color:#ffffff;
    padding-top:30%
}

.team-members-tow .overlay-text .info-text {
    -webkit-transform:translateY(50px);
    transform:translateY(50px);
    transition:all 0.3s ease-in-out 0s;
    -moz-transition:all 0.3s ease-in-out 0s;
    -webkit-transition:all 0.3s ease-in-out 0s;
    -o-transition:all 0.3s ease-in-out 0s
}

.team-members-tow .overlay-text .info-text strong {
    display:block;
    font-size:22px;
    font-weight:700;
    margin-bottom:5px
}

.team-members-tow .overlay-text .info-text span {
    font-size:14px;
    font-weight:400;
    font-style:italic
}

.team-members-tow .overlay-text .small-divider {
    margin-bottom:20px;
    border-color:#fff;
    margin-top:20px;
    width:50px
}

.team-members-tow .social-icons {
    padding-left:0;
    -webkit-transform:translateY(-50px);
    transform:translateY(-50px);
    transition:all 0.3s ease-in-out 0s;
    -moz-transition:all 0.3s ease-in-out 0s;
    -webkit-transition:all 0.3s ease-in-out 0s;
    -o-transition:all 0.3s ease-in-out 0s
}

.team-members-tow .social-icons li {
    display:inline-block;
    margin:0 10px
}

.team-members-tow .social-icons li a i {
    font-size:24px;
    color:#fff
}

.team-members-tow .social-icons .fa-facebook:hover {
    color:#3b5998
}

.team-members-tow .social-icons .fa-twitter:hover {
    color:#55acee
}

.team-members-tow .social-icons .fa-instagram:hover {
    color:#fb3958
}