.contact-form .form-control{
    background:transparent;
    padding:15px 25px 15px 50px;
    color:#444
}
.contact-form .form-control:focus{
    border-color:#1E9CD7
}
.contact-form .contact-icon{
    left:34px;
    position:absolute;
    top:16px;
    color:#444
}
.contact-form textarea{
    height:268px;
    width:100%;
    background:transparent;
    border:1px solid #ddd;
    padding:18px 18px;
    color:#444;
    margin-bottom:35px;
    resize:vertical
}
.contact-form textarea:focus{
    border-color:#1E9CD7
}
.contact-form .form-group {
    margin-bottom: 0;
    padding-left: 0px;
    padding-right: 0px;
}
.contact-info-title{
    color:#444;
    font-size:24px;
    margin-bottom:25px
}
.contact-info a{
    display:block;
    font-size:14px;
    color:#444;
    margin-bottom:10px;
    position:relative;
    font-weight:400
}
.contact-info a i{
    margin-right:10px
}
.contact-info address{
    position:relative;
    margin-bottom:15px
}
address{
    font-size:14px;
    color:#444;
    line-height:1.8
}
address i{
    margin-right:10px
}
.tel-info{
    margin-bottom:15px
}
.form-control{
    color:#444;
    background:#f7f7f7;
    font-weight:400;
    letter-spacing:0px;
    border:1px solid #ddd;
    border-radius:0;
    margin-bottom:30px;
    padding:10px 20px;
    min-height:50px;
    -webkit-box-shadow:none;
    box-shadow:none;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none
}
.form-control:focus{
    border-color:#1E9CD7
}
.form-group input{
    font:normal normal normal 14px/1 FontAwesome,"Rubik",sans-serif
}
.form-group textarea {
    resize: none;
}
.input-group input{
    font:normal normal normal 14px/1 FontAwesome,"Rubik",sans-serif
}
#contactForm .form-control{
    color:#444;
    background:#f7f7f7;
    font-weight:400;
    letter-spacing:0px;
    border:1px solid #ddd;
    border-radius:0;
    margin-bottom:30px;
    padding:10px 20px;
    min-height:50px;
    -webkit-box-shadow:none;
    box-shadow:none;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none
}
#contactForm .form-control:focus{
    border-color:#1E9CD7
}
#contactForm textarea{
    max-width:100%;
    min-height:130px !important;
    max-height:211px;
    margin-bottom:30px
}
::-webkit-input-placeholder{
    color:#ccc !important
}
:-moz-placeholder{
    color:#ccc !important
}
::-moz-placeholder{
    color:#ccc !important
}
:-ms-input-placeholder{
    color:#ccc !important
}
.has-error .form-control{
    color:#ec7160 !important;
    border:1px solid #ec7160 !important
}
.help-block.with-errors li{
    color:#ec7160;
    font-size:13px;
    margin-top:-30px;
    margin-bottom:0
}
#msgSubmit.h3{
    font-size:14px;
    margin-top:5px
}
#contact-form-1 .form-group{
    margin-bottom:0
}
#contact-form-1 #contactForm{
    width:100%;
    margin-left:auto;
    margin-right:auto
}
#contact-form-1 .btn-form-submit{
    width:100%;
    border-radius:0;
    padding:14px 24px
}
.contact-form-2{
    margin-bottom:50px
}
#contactForm.contact-form-2 .form-control#name{
    width:70%
}
#contactForm.contact-form-2 .form-control#email{
    width:70%
}
#contactForm.contact-form-2 .form-control#subject{
    width:70%
}
#contact-form-2 .form-group{
    margin-bottom:0
}
#contact-form-2 #contactForm{
    width:100%;
    margin-left:auto;
    margin-right:auto
}
#contact-form-2 .btn-form-submit{
    width:30%;
    border-radius:0;
    padding:14px 24px
}

/* ----------------------------------------------------------------------------------------- */
/* Small devices */
@media (max-width: 640px) {
    .contact-form{
        margin-bottom:30px
    }
    .contact-info{
        margin-bottom:30px
    }
}

/* ----------------------------------------------------------------------------------------- */
/* Tiny devices */
@media (max-width: 480px) {
    .contact-form{
        margin-bottom:30px
    }
    .contact-info{
        margin-bottom:30px
    }
    .contact-info-title{
        font-size:18px
    }
}