.form-inline .form-control {
    margin:0;
    color:#fff;
    border-radius:50px;
    min-height:42px;
    padding:7px 20px;
    background:transparent
}

.form-inline .form-control {
    margin:0;
    border-radius:50px;
    min-height:42px;
    padding:7px 20px;
    background:transparent
}
